@import './variables';


* {
  // Border Box
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  // Antialiasing ----- I'M OBSESSED.
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  font-smooth: antialiased !important;
  // Remove blue focus outlines
  &:focus {
    outline: none !important;
  }
}

/* -------------------------------------------------------------------------- */
/*                          Browser Webkit imports                          */
/* -------------------------------------------------------------------------- */

// To ensure accurate div adjustments
html,
body {
  cursor: default;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: antialiased !important;

  // Resets
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Ensures that all sizing of items are consistent across the app
// img {
  // width: 100%;
  // height: auto !important;
// }

// Buttons
button {
  -webkit-appearance: none;
  background-color: unset;
  border: unset;
  font-size: 100%;
  color: unset;
  font-family: unset;

  &:focus {
    -webkit-appearance: none;
    outline: unset;
  }
  &:visited {
    -webkit-appearance: none;
    outline: unset;
  }
}

// Resets Inputs from Browser
input[type='file' i]::-webkit-file-upload-button {
  cursor: pointer !important;
}
input[type='file'] {
  cursor: pointer;
}
input {
  outline: none;
  border: none;
}

// Anchor links
// No more random blue text!
a {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: unset;
  outline: none;
  border: none;
  &:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

// HTML Elements
// Small
small {
  margin: 0;
  padding: 0;
  line-height: auto;
}
p {
  line-height: 1.5rem;
}
.list-unstyled {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
select {
  border: none;
  outline: none;
  cursor: pointer;
}
textarea {
  border: none;
  outline: none;
}
nav {
  margin: 0;
  padding: 0;
  width: 100%;
}
