@import './colors.scss';

@use './colors.scss';
@forward './colors.scss';

$base-border-radius: 0.2rem;
$base-font-size: 0.95rem;
$rounded-border-radius: 20px;
%hover-to-brighten { filter: brightness(1.15); }
%hover-to-darken { filter: brightness(0.85); }

// Base Level Button Styles
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  font-size: $base-font-size;

  // Rounded
  &.rounded {
    border-radius: $rounded-border-radius;
  }

  // Add Shadow
  &.raised {
    border: 1px solid rgba(0,0,0,0.03);
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
    &:hover { box-shadow: 4px 6px 12px rgba(0,0,0,0.2); }
    &:active { box-shadow: 4px 6px 12px rgba(0,0,0,0.1); }
  }

  &.primary {
    background-color: $primary-color;
    color: white;

    &.light { background-color: $primary-light-color; }
    &.medium { background-color: $primary-medium-color; }
    &.dark { background-color: $primary-dark-color; }
  }

  &.secondary {
    background-color: $secondary-color;
    &.light { background-color: $secondary-light-color; }
    &.medium { background-color: $secondary-medium-color; }
    &.dark { background-color: $secondary-dark-color; }
  }

  &.accent {
    background-color: $accent-color;
    &.light { background-color: $accent-light-color; }
    &.medium { background-color: $accent-medium-color; }
    &.dark { background-color: $accent-dark-color; }
  }

  &.hover-to-brighten {
    @extend %hover-to-brighten;
  }

  &.hover-to-darken {
    @extend %hover-to-darken;
  }
}