@use './colors.scss' as _color;
@use './alt-colors.scss' as _alt;

.card {
  background-color: _color.$accent-light-color;
  border-radius: 0.2rem;
  
  &.raised {
    border: 1px solid rgba(0,0,0,0.01);
    box-shadow: 6px 12px 24px #00000040;
  }
}
.card-content {
  padding: 1rem;
}
.card-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  &.as-modal {
    border-bottom: 2px solid rgba(0,0,0,0.05);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
}
.card-footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  &.as-modal {
    border-top: 2px solid rgba(0,0,0,0.05);
    padding-top: 0.5rem;
    margin-top: 1rem;
  }
}