/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */


/* ------------------------ Primary, Secondary Accent ----------------------- */
$primary-color: #ff5630 !default;
$primary-light-color: #ff8f73 !default;
$primary-medium-color: #ff7452 !default;
$primary-dark-color: #de350b !default;

$secondary-color: #FF991F !default;
$secondary-light-color: #ffa333 !default;
$secondary-medium-color: #ec870c !default;
$secondary-dark-color: #d67b0c !default;

$accent-color: #999898 !default;
$accent-light-color: #e9e9e9 !default;
$accent-medium-color: #727272 !default;
$accent-dark-color: #414141 !default;
$accent-darkest-color: #262626 !default;

$text-color: #E5E7EA !default;

// Other
$form-input-field-bg: #e8e8e8  !default;

/* ---------------------------------- State --------------------------------- */
$success: #2ecc71 !default;
$success-light: #7be9a9 !default;
$success-dark: #156f3b !default;

$warning: #ffcd28 !default;
$warning-light: #fce69d !default;
$warning-dark: #ac8b1c !default;

$danger: #ff554c !default;
$danger-light: #ffb3af !default;
$danger-dark: #a2322c !default;

$info: #000000 !default;
$info-light: #fafafa !default;
$info-dark: #000000 !default;

/* ----------------------------- Class Versions ----------------------------- */
// Primary, Secondary, Accent Classes
.primary-color {
  color: $primary-color;
  &.light { color: $primary-light-color }
  &.medium { color: $primary-medium-color }
  &.dark { color: $primary-dark-color }
}
.primary-bg {
  background-color: $primary-color;
  &.light { background-color: $primary-light-color };
  &.medium { background-color: $primary-medium-color }
  &.dark { background-color: $primary-dark-color }
}

.secondary-color {
  color: $secondary-color;
  &.light { color: $secondary-light-color }
  &.medium { color: $secondary-medium-color }
  &.dark { color: $secondary-dark-color }
}
.secondary-bg {
  background-color: $secondary-color;
  &.light { background-color: $secondary-light-color }
  &.medium { background-color: $secondary-medium-color }
  &.dark { background-color: $secondary-dark-color }
}

.accent-color {
  color: $accent-color;
  &.light { color: $accent-light-color }
  &.medium { color: $accent-medium-color }
  &.dark { color: $accent-dark-color }
}
.accent-bg {
  background-color: $accent-color;
  &.light { background-color: $accent-light-color }
  &.medium { background-color: $accent-medium-color }
  &.dark { background-color: $accent-dark-color }
}

/* -------------------------------------------------------------------------- */
/*                             ALTERNATIVE COLORS                             */
/* -------------------------------------------------------------------------- */
$alt-primary-color: #363539;
$alt-primary-light-color: #3e3d41;
$alt-primary-medium-color: #282729;
$alt-primary-dark-color: #1e1d1f;

$alt-secondary-color: #393131;
$alt-secondary-light-color: #655c5c;
$alt-secondary-medium-color: #393737;
$alt-secondary-dark-color: #2b2727;

$alt-accent-color: white;
$alt-accent-light-color: white;
$alt-accent-medium-color: white;
$alt-accent-dark-color: white;

$alt-text: #b8b8b8;

/* ----------------------------- Class Versions ----------------------------- */
.alt-primary-color {
  color: $alt-primary-color;
  &.light { color: $alt-primary-light-color; }
  &.medium { color: $alt-primary-medium-color; }
  &.dark { color: $alt-primary-dark-color; }
}
.alt-primary-bg {
  background-color: $alt-primary-color;
  &.light { background-color: $alt-primary-light-color; }
  &.medium { background-color: $alt-primary-medium-color; }
  &.dark { background-color: $alt-primary-dark-color; }
}

.alt-secondary-color {
  color: $alt-secondary-color;
  &.light { color: $alt-secondary-light-color; }
  &.medium { color: $alt-secondary-medium-color; }
  &.dark { color: $alt-secondary-dark-color; }
}
.alt-secondary-bg {
  background-color: $alt-secondary-color;
  &.light { background-color: $alt-secondary-light-color; }
  &.medium { background-color: $alt-secondary-medium-color; }
  &.dark { background-color: $alt-secondary-dark-color; }
}

.alt-accent { 
  color: $alt-accent-color; 
  &.light { color: $alt-accent-light-color; }
  &.medium { color: $alt-accent-medium-color; }
  &.dark { color: $alt-accent-dark-color; }
}
.alt-accent-bg {
  background-color: $alt-accent-color; 
  &.light { background-color: $alt-accent-light-color; }
  &.medium { background-color: $alt-accent-medium-color; }
  &.dark { background-color: $alt-accent-dark-color; }
}


