@import './variables.scss';
@import './colors.scss';
@import './utilities.scss';

.form-group { // label + control
  display: flex;
  flex-flow: column nowrap;

  &.row {
    flex-flow: row nowrap;
  }

  label {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
  }

  input {
    display: inline-block;
    
    font-size: $base-rem;
    background-color: $form-input-field-bg;
    border-radius: $input-field-border-radius;
    padding: $base-rem / 1.3;
  }

  select {
    font-size: $base-rem;
    height: $base-rem * 1.8;
    background-color: $form-input-field-bg;
    border-radius: $input-field-border-radius;
    padding: $base-rem / 1.3;
  }
}