@import './_yutes-dir';

* {
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  font-smooth: antialiased !important;
}

html, body {
  font-size: $base-rem-size;
  line-height: auto;
  font-family: $base-font-family;
  letter-spacing: $base-letter-spacing;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0rem;
}