
/* --------------------------------- Styles --------------------------------- */
@mixin nav-text {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-transform: uppercase;
  font-size: 0.78rem;
  font-weight: bold;
  letter-spacing: 0.15rem;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* -------------------------------- Functions ------------------------------- */
@mixin parallax-hero {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*
    ----- Requirements -----
      background-image: url('https://imagesite./image_slug.png');

    ----- Options -----
    Add tint
      background-image: linear-gradient(to bottom right, $color, $second-color), url('https://imagesite./image_slug.png');
      background-blend-mode: lighten | 
  */
}

@mixin cover-img {
  background-image: linear-gradient(to bottom, #00000080, #00000020);
  background-attachment: fixed;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  position: relative;

  .img-text {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: thin;
    color: white;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;

    @include respond-to(tablets) {
      padding: 2rem;
    }
  }
  .subtext {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.6;
    font-weight: bold;
  }
}
