/* -------------------------------------------------------------------------- */
/*                              PADDING / MARGINS                             */
/* -------------------------------------------------------------------------- */

@each $abbr, $name in ("t": "top", "r": "right", "b": "bottom", "l": "left") {
  @for $i from 1 through 20 {
    .m#{$abbr}-#{$i} {
      margin-#{$name}: 1rem * $i;
    }
  }
}
@each $abbr, $name in ("t": "top", "r": "right", "b": "bottom", "l": "left") {
  @for $i from 1 through 20 {
    .p#{$abbr}-#{$i} {
      padding-#{$name}: 1rem * $i;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 BREAKPOINTS                                */
/* -------------------------------------------------------------------------- */
$break-small: 540px;
$break-medium: 800px;
$break-large: 2400px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1px) and (max-width: $break-medium) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-medium + 1) {
      @content;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 CONTAINERS                                 */
/* -------------------------------------------------------------------------- */
.container-sm {
  width: 30%;
  margin: auto;

  @include respond-to(tablet) {
    width: 40%;
  }
  @include respond-to(mobile) {
    width: 90%;
  }
}
.container {
  width: 65%;
  margin: auto;

  @include respond-to(tablet) {
    width: 70%;
  }
  @include respond-to(mobile) {
    width: 90%;
  }
}
.container-lg {
  width: 90%;
  margin: auto;

  @include respond-to(tablet) {
    width: 90%;
  }
  @include respond-to(mobile) {
    width: 95%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   FLEXBOX                                  */
/* -------------------------------------------------------------------------- */

// Flex direction
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }

// If nowrap
.nowrap { flex-wrap: nowrap; }

// Align-Items
.align-start      { align-items: flex-start; }
.align-end        { align-items: flex-end; }
.align-center     { align-items: center; }
.align-stretch    { align-items: stretch; }
.align-baseline   { align-items: baseline; }

// Align-Self
.align-self-start     { align-self: flex-start; }
.align-self-end       { align-self: flex-end; }
.align-self-center    { align-self: center; }
.align-self-stretch   { align-self: stretch; }
.align-self-baseline  { align-self: baseline; }

// Justify-Content
.justify-start    { justify-content: flex-start; }
.justify-end      { justify-content: flex-end; }
.justify-center   { justify-content: center; }
.justify-stretch  { justify-content: stretch; }
.justify-baseline { justify-content: baseline; }
.justify-between  { justify-content: space-between; }
.justify-around   { justify-content: space-around; }

// Justify-Self
.justify-self-start     { justify-self:flex-start; }
.justify-self-end       { justify-self: flex-end; }
.justify-self-center    { justify-self: center; }
.justify-self-stretch   { justify-self: stretch; }
.justify-self-baseline  { justify-self: baseline; }
