// Core vars
$font-family: 'Nanum Gothic', sans-serif;
$base-rem: 15px;

// Breakpoint sizes
$break-small: 540px;
$break-medium: 800px;
$break-large: 2400px;

// Input border-radius
$input-field-border-radius: 0.2rem;

// Button variables
$base-border-radius: 0.2rem;
$base-font-size: 0.95rem;
$rounded-border-radius: 20px;
%hover-to-brighten { filter: brightness(1.15); }
%hover-to-darken { filter: brightness(0.85); }