@use './scss/_foundation/colors.scss' as _color;
@forward './scss/_foundation/colors.scss';

.footer,
.footer-content,
.footer-items {
  height: inherit;
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.footer {
  height: 1.4rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  width: 100%;
  background-color: _color.$accent-light-color;
  position: fixed;
  bottom: 0;
}
.footer-content {
  padding-left: 1rem;
  padding-right: 1rem;
  
  height: inherit;
  width: inherit;
  justify-content: space-between;
}
.footer-items {
  justify-content: flex-start;
  gap: 1.5rem;

  &.right {
    justify-content: flex-end;
  }
}