@import './mixins.scss'; // Mixins
@import './colors.scss'; // 3 main colors + State colors
@import './typography.scss'; // Includes base font-size, google imports, and heading adjustments
@import './utilities.scss'; // Padding&Margin, breakpoint args, container-sm, container, and container-lg
@import './alt-colors.scss'; // 3 alternative colors for .dark-theme (found in main file below)
@import './cards.scss'; // Card styling 
@import './buttons.scss'; // Includes button sizes (based on font calcs) and color variation classes
@import './forms.scss'; // Form control: Sizing based on font calcs + colors

/*
    For easy import into component style files
    @use '~@riapacheco/yutes/FILE_NAME.scss' as _abbr;

    OR

    @import '~@riapacheco/yutes/FILE_NAME.scss';
*/


html {
  font-size: $base-rem;
  font-family: $font-family;
  letter-spacing: $default-letter-spacing;
  cursor: default;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  &:focus {
    outline: none;
  }
}

/* -------------------------- Browser/Webkit Resets ------------------------- */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}
img {
  width: 100%;
  height: auto !important;
}
button {
  -webkit-appearance: none;
  background-color: unset;
  border: unset;
  font-size: 100%;
  color: unset;
  font-family: unset;

  &:focus {
    -webkit-appearance: none;
    outline: unset;
  }
  &:visited {
    -webkit-appearance: none;
    outline: unset;
  }
}
small {
  margin: 0;
  padding: 0;
  line-height: auto;
}
a {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: unset;
  outline: none;
  border: none;
  &:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

.list-unstyled {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
  border: none;
}
select {
  border: none;
  outline: none;
  cursor: pointer;
}
textarea { 
  border: none;
  outline: none;
}
nav {
  margin: 0;
  padding: 0;
  width: 100%;
}


/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.dark-theme {
  background-image: linear-gradient(to left, $alt-primary-medium-color, $alt-primary-dark-color);
  background-attachment: fixed;
  height: 100%;
  color: $alt-text;

  .card {
    background-color: $alt-primary-medium-color;
    background-image: linear-gradient(to right, $alt-primary-medium-color, $alt-primary-dark-color);
    color: $alt-text;
  }
  hr {
    opacity: 0.03;
    
  }
  code {
    color: $alt-text;
    background-color: $alt-secondary-medium-color;
  }
}