@use '../_foundation/colors.scss' as _color;
@forward '../_foundation/colors.scss';

@mixin parallax-hero {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*
    ----- Requirements -----
      background-image: url('https://imagesite./image_slug.png');

    ----- Options -----
    Add tint
      background-image: linear-gradient(to bottom right, $color, $second-color), url('https://imagesite./image_slug.png');
      background-blend-mode: lighten | 
  */
}

section {
  background-color: _color.$secondary-color;
  min-height: 40vh;
}