$canary-light: #FFDB64 !default;
$canary-medium: #FFC400 !default;
$canary-regular: #FFAB00 !default;
$canary-dark: #FF991F !default;
$bondi-light: #79E2F2 !default;
$bondi-medium: #00C7E6 !default;
$bondi-regular: #00B8D9 !default;
$bondi-dark: #00A6C4 !default;
$blood-orange-light: #FFAD95 !default;
$blood-orange-medium: #FF9576 !default;
$blood-orange-regular: #FF7A52 !default;
$blood-orange-dark: #E06039 !default;
$success: #2ECC71 !default;
$warning: #FFCD28 !default;
$danger: #FF554C !default;
$steel-light: #F5F5F5 !default;
$steel-medium: #E5E7EA !default;
$steel-regular: #CED2D6 !default;
$steel-dark: #9EA5AD !default;
$soot-grey-light: #848695 !default;
$soot-grey-medium: #777988 !default;
$soot-grey-regular: #5B5D6A !default;
$soot-grey-dark: #484A55 !default;
$gunmetal-medium: #3D4148 !default;
$gunmetal-dark: #33363B !default;
$midnight-medium: #2D2F33 !default;
$midnight-regular: #26282C !default;
$midnight-dark: #1D1F22 !default;

/* ----------------------------------- CBT ---------------------------------- */
$cbt-teal: #00D2B9 !default;
$cbt-teal-dark: #01b39e !default;
$cbt-coral: #EE2F55 !default;
$cbt-coral-accent: #FF2752 !default;
$cbt-coral-accent-dark: #E23457 !default;
$cbt-orange: #FBAB2F !default;
$cbt-orange-accent: #F09B14 !default;
$cbt-orange-accent-dark: #F09B14 !default;
$cbt-light-grey: #7E8A8D !default;
$cbt-grey: #3E4347 !default;
$cbt-dark-grey: #373C3F !default;
$cbt-darker-grey: #282828 !default;
$cbt-darkest-grey: #1C1C1C !default;


