/* Color variables and class versions */
$violet-pale: #E1C7E0;
$violet-lightest: #D6A9D5;
$violet-light: #C270C0;
$violet-medium: #C054BE;
$violet-dark: #A239A0;
$salmon-pale: #FFBDAD;
$salmon-lightest: #FF8F73;
$salmon-light: #FF7452;
$salmon-medium: #FF5630;
$salmon-dark: #DE350B;
$canary-yellow-pale: #FFF0B3;
$canary-yellow-lightest: #FFC380;
$canary-yellow-light: #FFC400;
$canary-yellow-medium: #FFAB00;
$canary-yellow-dark: #FF991F;
$bondi-blue-pale: #B3F5FF;
$bondi-blue-lightest: #79E2F2;
$bondi-blue-light: #00C7E6;
$bondi-blue-medium: #00B8D9;
$bondi-blue-dark: #00A3BF;
$success: #2ECC71;
$warning: #FFCD28;
$danger: #FF554C;
$steel-grey-light: #E5E7EA;
$steel-grey-medium: #CED2D6;
$steel-grey-dark: #9EA5AD;
$soot-grey-light: #777988;
$soot-grey-medium: #5B5D6A;
$soot-grey-dark: #484A55;
$pale-midnight-light: #3D4148;
$pale-midnight-medium: #33363B;
$pale-midnight-dark: #2E3138;
$pale-midnight: #26282C;
$midnight: #1D1F22;